#hero{
  background: url('../images/community_banner.jpg') no-repeat center;
  background-size: cover;
  height:600px;
  text-align: center;
  color:white;
  @include dark-overlay;
  display: flex;
  align-items:center;
  justify-content:center;
  position: relative;

  #logo{
    background: url("../images/logo_white.svg") no-repeat;
    background-size: contain;
    position: absolute;
    width:140px;
    height: 40px;
    top:20px;
    right:20px;
  }
  #logo span {
    display: none;
  }
  .content{
    width:70%;
    max-width:900px;
  }
  h1, h2{
    padding:0;
    margin:0;
    text-transform:uppercase;
    font-family: $font-bold;
  }
}
