#hero{
  background: #000;
  height:600px;
  text-align: center;
  color:white;
  display: flex;
  align-items:center;
  justify-content:center;
  position: relative;
  overflow: hidden;
  @media (max-width: $breakpoint-mobile) {
    height: 400px;
    padding: 0 20px;
  }

  #logo{
    background: url("../images/logo_white.svg") no-repeat;
    background-size: contain;
    position: absolute;
    width:140px;
    height: 40px;
    top:20px;
    right:20px;
    z-index: 9999;
    @media (max-width: $breakpoint-mobile) {
      width:80px;
      left:50%;
      margin-left:-40px;
    }
  }
  #logo span {
    display: none;
  }
  .content{
    width:70%;
    max-width:900px;
    z-index: 9999;
    @media (max-width: $breakpoint-mobile) {
      width:100%;
    }
  }
  h1, h2{
    padding:0;
    margin:0;
    text-transform:uppercase;
    font-family: $font-bold;
  }
  h1{
    line-height: 1.2em;
    margin:10px 0;
  }
  h2{
    font-size: 20px;
    @media (max-width: $breakpoint-mobile) {
      font-size: 14px;
      margin-top:40px;
    }
  }

  .blur {
    overflow: hidden;
    margin: -15px -20px 0px;
    background: #000 url('../images/community_banner.jpg') no-repeat center;
    content: " ";
    background-size:cover;
    -webkit-filter: blur(9px);
    -moz-filter: blur(9px);
    -o-filter: blur(9px);
    -ms-filter: blur(9px);
    filter: blur(9px);
    position:absolute;
    width:130%;
    height:130%;
    z-index: 0;
    opacity: 0.5;
  }
}
