#textApp{
  height: 500px;
  // margin-top:100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-align: left;
  @media (max-width: $breakpoint-tablet) {
    flex-direction: column-reverse;
    margin-top:0px;
    height: auto;
    margin-top:50px;
  }

  h4{
    margin-top: 0;
  }
}

////////////////////////////////
.phoneExamples{
  background: url("../images/phones.png") no-repeat;
  background-size: contain;
  width:75%;
  height:475px;
  margin-bottom:-180px;
  position: relative;
    @media (max-width: $breakpoint-tablet) {
      display:none;
    }
  img{
    position:absolute;
  }
  img.apple{
    height:128px;
    left:0px;
    top:87px;
    clip: rect(10px, 164px, 128px, 13px);
  }
  img.android{
    height:120px;
    left:150px;
    top:100px;
    clip: rect(10px, 205px, 115px, 23px);
  }
}

////////////////////////////////

.textForm{
  max-width:60%;
  @media (max-width: $breakpoint-tablet) {
    max-width: 85%;
    text-align: center;
    margin-bottom: 60px;
  }
}

/* LAYOUT */
.Field {
  display: flex;
}

.textApp-query {
  flex: 1 0 8em;
}

.textApp-submitBtn {
  flex: 0 0 auto;
}



.textApp-query:focus {
  background: white;
}

input[type=tel]{
  background: #fff;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 20px 30px;
  font-size: initial;
  color: #BFBFBF;
  font-family: $font-book;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input[type=tel]::placeholder {
  color: #BFBFBF;
  font-family: $font-book;
}


button[type=submit]{
  @include gradient;
  margin:0;
  padding:21px 15px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
  font-size: initial;
  color: #FFF;
  -webkit-appearance: none !important;
  @media (max-width: $breakpoint-tablet) {
    font-size: 14px;
  }
}

.mobileBadge{
  display: inline-block;
  margin: 30px 20px 0 0;
  @media (max-width: $breakpoint-tablet) {
    margin:30px 8px 0;
  }
}
